@model Lombiq.JsonEditor.ViewModels.EditContentItemViewModel

<form method="post">
    <input type="hidden" name="contentItemId" value="@Model.ContentItemId">

    <div class="form-group">
        <label>@Model.DisplayText</label>
        <json-editor
            json="@Model.Json"
            options="@JsonEditorOptions.GetSample(T)"
            name="json"></json-editor>
    </div>

    <button type="submit">@T["Publish"]</button>
</form>
